/*
* Styles for the main body and general styles
*
*/
body {

	tbody  {
			th,td {
				@include breakpoint(small only){
	    	        font-size:rem-calc(14);
			    }
			}
	}

	:focus {
		outline: 0;
	}

	h3 {

		&.title-dec {
			font-family: 'Montserrat', sans-serif !important;
			font-size:rem-calc(17);
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			color: $red-titles;
			max-width:450px;
			margin:0 auto;

			&.bold {
				font-weight:800 !important;
			}
			span {
				text-transform: uppercase;
				font-style:italic;
			}

			@include breakpoint(small only){
	            font-size:rem-calc(20);
                width: 94%;
			    margin: rem-calc(20) auto;
			    text-align: center;
	        }
		}
	}

	h1 {

		font-family: 'Montserrat', sans-serif !important;
		font-weight: bold;
		text-transform: uppercase;
		color:$red-titles;
		font-size:rem-calc(24);
		position:relative;
		margin-bottom:0px;

		&.small {
			font-size:rem-calc(18);
		}

		&.first-header {
			display:block;
			text-align:center;
			max-width:rem-calc(600);
			margin: rem-calc(40) auto rem-calc(60);
			font-size:rem-calc(24);

			&.success {
				margin: rem-calc(40) auto rem-calc(20);
			}

			span {
				&.header-underline {
					width:rem-calc(207);
				    height: rem-calc(7);
				    display: -webkit-box;
				    text-align: center;
				    margin: rem-calc(25) auto;
				    background:url(../img/h1-decoration.png) no-repeat top !important;
				}
			}
			@include breakpoint(small only){
	            font-size:rem-calc(24);
                width: 94%;
			    margin: 0 auto;
			    text-align: center;
	        }
		}
	}

	.main-body {
		-webkit-transition: all 100ms ease-out 400ms;
	    -moz-transition: all 100ms ease-out 400ms;
	    -o-transition: all 100ms ease-out 400ms;
	    transition: all 100ms ease-out 400ms;
	    position:relative;
	    left:rem-calc(80);
	    height:91%;

	    @media only screen and (max-width: rem-calc(640)) { 
            overflow-y:auto;
            left:rem-calc(0);
            height:100%;
        }

	    &.screen-height {
	    	@media only screen and (max-width: rem-calc(640)) { 
                overflow-y:auto;
                left:rem-calc(0);
            }
	    }
		@media only screen and (max-width: rem-calc(640)) { 
			&.mobile-stage {
				left:rem-calc(40);
			}

			.bg-main {
				padding-left:rem-calc(10);
				padding-right:rem-calc(10);
			}
		}
	}

    &.category {

        .container {

        	ul {
        		margin-top:rem-calc(25);
        		li {

        			margin-left:rem-calc(6);

        			&.active {
        				margin-left:rem-calc(-4);
        			}

        			a {
        				color:#717171;
        				font-size:rem-calc(16.5);
        				span {
        					i {
        						margin-right:rem-calc(4);
        					}
        				}
        			}
        		}
        	}
            h5 {
                font-size:rem-calc(18);
                text-transform:uppercase;

                span {
                    margin-bottom:rem-calc(10);
                    border-bottom:1px solid $grey-light;
                    padding-bottom:rem-calc(7);

                    i {
                    	margin-left:rem-calc(20);
                    	font-size:rem-calc(25);
                    	vertical-align: baseline;
                    }
                }
            }

            &.bg-main {
                @media screen and(max-width:1400px){
                	background-position-x:700px !important;
                }
                @include breakpoint(medium down) {
                    background:url(../img/bg-each-category-small.png) no-repeat top !important;
                    position:relative;
                }
            }
        }

    }

    .margin-centered {
    	margin: 0 auto;
    	text-align: center;
    }

    .main-content {
    	.faq-icon-container {
        	background:url(../img/faq_bg.png) no-repeat top center;
        	margin-bottom:rem-calc(20);
    	}

    	.icon-doctor {

    		position:relative;

    		@media screen and(max-width:640px){
                text-align: center;
            }

            .bocadillo {
            	background:url(../img/bocadillo.png) no-repeat top center;
            	width:rem-calc(142);
            	height:rem-calc(191);
            	position: relative;
    			top: rem-calc(-35);
    			left: rem-calc(30);
    			display:none;

    			@media screen and(max-width:1025px){
    				position:absolute;
	                left:initial;
	                right:0;
	                top:rem-calc(-190);
	            }

	            @media screen and(max-width:640px){
    				position:absolute;
	                left:50%;
	                right:0;
	                top:rem-calc(-190);
	                margin-left:-12%;
	            }

    			p {
    				text-align: center;
    				padding:rem-calc(50) rem-calc(10) rem-calc(0);
    				margin-bottom:rem-calc(5);
    				color:#903838;
    				font-family: 'Montserrat',sans-serif;
    				letter-spacing:rem-calc(-1);
    				font-weight: normal;
    				line-height: rem-calc(18);
    			}
    			.bocadillo_link {
    				text-align: center;
    				font-weight: bold;

    				a {
    					border-bottom:rem-calc(1) solid #903838;
    					color:#903838;
    					padding-bottom:rem-calc(2);
    					font-size:rem-calc(18);
    				}
    			}
            }

    		img {
    			position:absolute;
    			top:rem-calc(75);
    			margin-top:rem-calc(75);

    			&#icon_dinamic {
    				display:none;
    			}

    			@media screen and(max-width:1023px){
                	top:rem-calc(0);
                	margin-top:rem-calc(0);
                	right:0;
                }



                @media screen and(max-width:640px){
                	position:inherit;
                }
    		}
    	}
    }

   	.each-post {
   		text-align: center;

   		span {
   			display: block;
   			font-size:rem-calc(18);
   			text-transform: uppercase;
   			font-family: 'Montserrat', sans-serif;
			margin:rem-calc(15) auto; 

   			&.grey-color {
   				color: $grey-light;
   				&.open {
   					color:#4e4d4d;
   				}
   			}

   			&.block-icon {
   				background:url(../img/block-icon.png) no-repeat top !important;
   				width:rem-calc(20);
   				height:rem-calc(23);

   				&.open {
   					background:url(../img/icon-check.png) no-repeat top !important;
   					width:rem-calc(34);
   					height:rem-calc(25);
   				}

   				&.bounce {
   					background:url(../img/bounce-icon.gif) no-repeat top !important;
   					width:rem-calc(68);
   					height:rem-calc(57);
   					//position:relative;
   					margin-top:rem-calc(-20);
   					//top:rem-calc(5);
   				}
   			}
   		}
   	}

   	.success-bg {
   		width:rem-calc(295);
   		height:rem-calc(221);
   		margin: rem-calc(0) auto rem-calc(20);
   	}

    .bg-main {

    	.main-content {

    		.post-details {
	    		p {
	    			text-align: center;
	    			max-width:rem-calc(430);
	    			margin:rem-calc(20) auto;
	    			line-height: rem-calc(35);
		    	}
	    	}

	    	.icon-doctor {
	    		
	    		&.post {
	    			display: none;
		    		padding:rem-calc(0);
					img {
						margin-top:rem-calc(50);
						position:relative;
						top:rem-calc(0);
						left:rem-calc(-40);
					}
	    		}

			}

			.documento {
    			.download-pdf {
    				border: 2px solid $red-titles;
    				padding: rem-calc(5) rem-calc(5);
    				font-size:rem-calc(17);
    				color:$red-titles;
    				text-align: center;
    				cursor:pointer;
    				border-radius:rem-calc(10);
    				margin:rem-calc(35) auto;
    				max-width: rem-calc(215);

    				i {
    					position: relative;
					    left: rem-calc(-15);
					    font-size: rem-calc(21);
    				}

    				a {
    					color:$red-titles;
    				}

    				img {
    					margin-left:rem-calc(10);
    				}
    			}
    		}
    		.bg-post-icon {
    			background:url(../img/bg-post-icon.png) no-repeat top !important;
   				width:rem-calc(194);
   				height:rem-calc(143);
   				margin: 0 auto;
   				img {
   					max-width:rem-calc(113);
   					height:auto;
   				}
    		}
    	}

    }

	.row .row {
		@include breakpoint(small only){
			margin-right:0;
			margin-left:0;
		}
	}

	.cat-stages {
		-webkit-transition: background 50ms ease-out 100ms;
		-moz-transition: background 50ms ease-out 100ms;
		-o-transition: background 50ms ease-out 100ms;
		transition: background 50ms ease-out 100ms;
		cursor:pointer;

		.image-picto {
			width:123px;
			height:122px;
			margin: 0 auto;
			-webkit-transition: background 50ms ease-out 100ms;
			-moz-transition: background 50ms ease-out 100ms;
			-o-transition: background 50ms ease-out 100ms;
			transition: background 50ms ease-out 100ms;
		}

		.text-category {
		 	margin-top:rem-calc(25);
		 	@include breakpoint(small only){
	            margin-bottom:rem-calc(25);
			}
		}

		&.first-stage {
			background:url(../img/bg-first-stage.png) no-repeat center;
			background-size:contain;
			width:rem-calc(364);
			height:rem-calc(122);
			margin:rem-calc(50) auto;

			@include breakpoint(small only){
	             width:100%;
	             //padding: 0 rem-calc(104);
	        }

			> div {
				float:left;
				max-width:rem-calc(240);
				text-align: center;

				 &.text-category {
				 	width:rem-calc(240);

				 	@include breakpoint(small only){
			             width:52%;
			        }
				 	h1 {
				 		margin-bottom:rem-calc(2);
				 		line-height:rem-calc(15);
				 	}
				 	h3 {
				 		color:$grey-light;
				 		font-size:rem-calc(16);
				 		font-style: italic;
				 		text-transform:uppercase;
				 	}
				 }

			}

			&:hover {
				background:url(../img/bg-first-stage-hover.png) no-repeat center;
				background-size:contain;
			}
		}

		&.second-stage {
			.image-picto {
				background:url(../img/bg-second-stage.png) no-repeat center;
				&:hover {
					background:url(../img/bg-second-stage-hover.png) no-repeat center;
				}
			}
		}

		&.third-stage {
			.image-picto {
				background:url(../img/bg-third-stage.png) no-repeat center;
				&:hover {
					background:url(../img/bg-third-stage-hover.png) no-repeat center;
				}
			}
		}
	}

	.back-to-top {
		background: none;
		margin: 0;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 70px;
		height: 70px;
		z-index: 100;
		display: none;
		text-decoration: none;
		color: #ffffff;
		&:hover {
			color:#fff;
		}
		i {
			font-size:rem-calc(50);

		}

	}

	#completestage {
		display:none;
	}

	//Modal window 

	.reveal-overlay {
		background-color: rgba(10,10,10,0.9);
	}

	.reveal  {
		background:transparent;
		border:none;
		text-align: center;

		.close-button {
			span {
				color:$grey-light;
			}
		}

		.video-bottom-decoration {
			width:rem-calc(207);
			height:rem-calc(7);
			background:url(../img/video-bottom-decoration.png) no-repeat center;
			background-size:cover;
			margin: rem-calc(10) auto;
		}

		h3 {
			font-family: 'Montserrat',sans-serif !important;
			color:#7ffbfc;
			text-align: center;
			text-transform:uppercase;
			font-weight: bold;
			font-size:rem-calc(24);
			margin-bottom:rem-calc(20);
		}

		iframe {
			&#vimeo_ {
				width:100%;
				
				height:auto;
				min-height:500px;
				border:rem-calc(10) solid #fff;
			}
		}
	}
}


