/*
* Styles for the sidebar
*
*/

.row {
	&.with-sidebar {
		max-width:100%;
	}

	.side-left {
		background:#b1b1b1;
		height:100%;
		padding:rem-calc(0);
		max-width: rem-calc(80);
		width:rem-calc(80);
		-webkit-transition: all 100ms ease-out 400ms;
	    -moz-transition: all 100ms ease-out 400ms;
	    -o-transition: all 100ms ease-out 400ms;
	    transition: all 100ms ease-out 400ms;
	    -webkit-transform:translateZ(1px);
        -moz-transform:translateZ(1px);
       -o-transform:translateZ(1px);
       transform:translateZ(1px);
       z-index:1;
       position:fixed;

	    &.post-sidebar {
	    	-webkit-transform:translateZ(200px);
	        -moz-transform:translateZ(200px);
	        -o-transform:translateZ(200px);
	      	transform:translateZ(200px);
	      	z-index:9999;
	    	position:fixed;
	    }

	    @media only screen and (max-width: rem-calc(1000)){
	    	&.post {
	    		height:120%;
	    	}
	    }

		@media only screen and (max-width: rem-calc(640)) { 
			position:fixed;
			left:rem-calc(-80);

			&.mobile-menu {
				left:rem-calc(0);
			}
		}

		.sidebar-container {

			border-bottom:1px solid #fff;
			padding-bottom:rem-calc(10);

			&:first-child {
				padding-bottom:rem-calc(20);
			}

			&:last-child {
				border-bottom:none;
			}

			.icon-top {
				text-align: center;
				width:100%;
				margin:rem-calc(25) auto;
				cursor:pointer;
				i {
					color:#fff;
					font-size:rem-calc(30);
				}
			}

			ul {

				&.side-nav {
					margin-top:rem-calc(12.5);
					overflow: hidden;
				}

				li {
					width:100%;
					display:flex;
					display:-webkit-flex;
					float:left;
					text-align: center;


					a {
						margin: rem-calc(12.5) auto;
						span {
							&.pdf-icon {
								background: url(../img/pdf-icon.png) no-repeat top left; 
							    width:rem-calc(38);
							    height: rem-calc(54);
							    float: left;

							    &.active-1 {
							    	background: url(../img/pdf-icon-active-1.png) no-repeat top left;
							    	background-size:cover;
							    }

							    &.active-2 {
							    	background: url(../img/pdf-icon-active-2.png) no-repeat top left;
							    	background-size:cover;
							    }

							    &.active-3 {
							    	background: url(../img/pdf-icon-active-3.png) no-repeat top left;
							    	background-size:cover;
							    }

							    &.active-4 {
							    	background: url(../img/pdf-icon-active-4.png) no-repeat top left;
							    	background-size:cover;
							    }
							}

							&.level-icon {
								width:rem-calc(18);
								height:rem-calc(18);
								background-color:#9e9d9d;
								float:left;
								border:rem-calc(1.9) solid #fff;
								position:relative;
								z-index: 1;
								-ms-transform: rotate(45deg); /* IE 9 */
							    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
							    transform: rotate(45deg);

							    &.completed {
							    	transform:rotate(0);
							    	-ms-transform: rotate(0); /* IE 9 */
    								-webkit-transform: rotate(0); /* Safari */
							    	border:none;
							    	width:rem-calc(24);
							    	height:rem-calc(24);

							    	&.active {
							    		background: url(../img/level-1-hover.png) no-repeat top left;
							    		background-size:cover;
								    }

								    &.complete-1 {
								    	background: url(../img/level-1-completed.png) no-repeat top left;
								    	background-size:cover;
								    }

								    &.complete-2 {
								    	background: url(../img/level-2-completed.png) no-repeat top left;
								    	background-size:cover;
								    }

								    &.complete-3 {
								    	background: url(../img/level-3-completed.png) no-repeat top left;
								    	background-size:cover;
								    }

								    &.complete-4 {
								    	background: url(../img/level-4-completed.png) no-repeat top left;
								    	background-size:cover;
								    }
							    }
							}
						}
					}
				}

				&.navigation-menu {
					position:relative;

					&:before {
					    content: '';
					    border-left: rem-calc(2) solid #fff;
					    position: absolute;
					    height: rem-calc(149);
					    left: rem-calc(39);
					    margin-top: rem-calc(13);
					}
				}
			}

			.counter {
				text-align: center;
				color:$grey-dark;
				font-family: 'Montserrat',sans-serif;

				span {
					color:$grey-dark;
				}
			}

			.pdf-nivel {
				background: url(../img/pdf-nivel.png) no-repeat top left; 
			    width:rem-calc(38);
			    height: rem-calc(54);
			    margin:rem-calc(12.5) auto;

			    &.complete {
			    	background: url(../img/pdf-nivel-complete.png) no-repeat top left; 
			    }
			}
		}
	}
}

