$bg-preheader: #2C2E30;
$bg-header: #FFFFFF;

$pink: #951CA7;
$grey-dark: #4e4d4d;
$grey-light: #bac7c8;
$orange: #CE4E39;
$orange-light: #DA7110;

$blue: #00bdea;
$red-titles:#892b2b;
$btn-pink: #D448EB;
$btn-purple: #752A9C;

$bg-red-comments: #A12410;

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Regular.ttf);
}


html, body {
    width:100%;
    height:100%;
}
body {


    font-family: 'Lato', sans-serif !important;
    position:relative;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lato', sans-serif !important;
        font-weight: normal;
        font-style: normal;
        color: inherit;
        text-rendering: optimizeLegibility;
        margin-top: 0;
        margin-bottom: .5rem;
        line-height: 1.4;
    }

    ul {
        list-style:none;
        margin-left:rem-calc(0);

        li {
            list-style :none;
        }
    }

    p {
        color:#717171;
        font-size:rem-calc(17);
    }

    a {
        font-size:rem-calc(18);
        &.gb-button {
            border:1px solid $red-titles;
            padding:rem-calc(10) rem-calc(28);

            @include breakpoint(medium only){
                text-align: center;
                float:left !important;
                margin-left:0;
            }
        }

        &:hover {
            color:$red-titles;
        }
    }

    span {
        color:$red-titles;
    }

    .underline-text {
        text-decoration: underline;
    }

    &.welcome,&.categories,&.category {
        overflow:hidden;

        @include breakpoint(medium down){
            overflow:visible;
        }
    }

    &.welcome {
        .panel-body.margin-top-40 {

            .main-content {
                overflow:hidden;
            }

            @include breakpoint(small only) {
                margin-top:rem-calc(200) !important;
            }
        }

        .first-header {
            @include breakpoint(small only){
                margin-left:rem-calc(5);
            }
        }

        .title-dec {
            &.margin-left-5 {
                @include breakpoint(small only){
                    margin-left:rem-calc(5) !important;
                }
            }
        }

        .container {
            &.bg-main{
                @include breakpoint(small only){
                    background:url(../img/bg-small-screens.png) no-repeat top !important;
                    top:rem-calc(-50);
                    position: relative;
                }
            }
        }
    }

    &.categories {
        h1 {
            &.first-header {
                margin: 0 auto;
            }
        }
    }

    /*
    * Styles for the main menu and logo
    */

    .triangle-bottom {
        width:rem-calc(327);
        height:rem-calc(327);
        background:url(../img/bg-triangle-footer.png) no-repeat center;
        background-size:cover;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;

            &.post {
                position:relative;
                float:right;
            }
            @include breakpoint(medium down){
                position:relative;
                float:right;
            }
    }


    .container {

        margin: 0 auto;
        padding: 0 rem-calc(20);

            @include breakpoint(small only){
                width:100%;
                margin: 0 auto;
                padding:rem-calc(0);
            }

        &.top  {
            > * {
                margin-top:rem-calc(15px);
                margin-bottom:rem-calc(25);
            }

            .mobile-menu-icon {
                display:none;
                position: absolute;
                font-size: rem-calc(29);
                top:rem-calc(4);
                color:#b1b1b1;
                cursor:pointer;
                @media only screen and (max-width: rem-calc(640)) { 
                    display:block;
                }
            }
            .logo {
                margin-top:5px;

                @include breakpoint(small only){
                    text-align: center;
                }
            }
        }

        &.screen-height {
            height: 100%;
            padding:rem-calc(0px);
            overflow:auto;
        }

        &.max-width-70 {
            max-width: rem-calc(1120px);
        }
    }

    .screen-height {
        height:100%;
        overflow:hidden;
        @media only screen and (max-width: rem-calc(640)) { 
            //overflow:auto;
        }
    }

    nav {

        ul {

            float:right;
            margin-top:rem-calc(13px);

            @include breakpoint(small only){
                text-align: center;
                float:left;
                margin-left:0;
                left:50%;
                position:relative;
            }

            li {
                float:left;
                list-style:none;
                margin: 0 rem-calc(7.5px);


                @include breakpoint(small only){
                    text-align: center;
                    float:left;
                    right:50%;
                    position:relative;
                }

                a {
                    font-size:rem-calc(18px);
                    color:$red-titles;
                    &:hover {
                        color:$grey-light;
                    }
                }
            }

        }
    }

    .container {


        .row {
            height:100%;
        }

       &.bg-main {
            width:100%;
            margin-top: 0px;
            padding-top: 0px;
            margin-top:rem-calc(-20);
            background: url(../img/bg-main.png) no-repeat center;
            background-size: cover;

            &.faq {
                background:none;

                .main-content {
                    h1 {
                        text-transform: lowercase;
                        &.first-header {
                            font-size:rem-calc(33);
                            color:#717f80;
                            margin-bottom:rem-calc(20);
                            margin-top:rem-calc(5);
                            span {
                                &.good {
                                    text-transform: uppercase;
                                    color:$red-titles;
                                    font-weight: bold;
                                    font-size:rem-calc(40);
                                }
                            }
                        }
                    }
                    div {
                        &.faq_underline {
                            background: url(../img/faq_underline.png) no-repeat center;
                            width:rem-calc(420);
                            height:rem-calc(7);
                            margin: 0 auto;
                        }
                    }

                    p {
                        &.faq_paragraph {
                            margin: 0 rem-calc(58);
                        }
                    }
                }
            }

            @media only screen and (max-width:rem-calc(1400)){
                background-size:cover;
            }
            @media only screen and (max-width: rem-calc(640)) { 
                background-size:contain;
                background: url(../img/bg-main.png) no-repeat bottom center;
            }

            &.height{
                height:100%;

                @media only screen and (max-width:rem-calc(640)){
                    height:auto;
                }
            }
            &.post {
                background: url(../img/bg-post.png) no-repeat top left;
                background-size: cover;
            }
        }

    }

    

    #main_content { margin-bottom: rem-calc(40); }


    .vimeo_video {
        width: 640px;
        height: 360px;

        @media screen and (max-width: 39.9375em) {
            width: 420px;
            height: 236px;
        }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            width: 530px;
            height: 298px;
        }
    }
    div.stars {
    }
    i.fa-star, i.fa-star-o {
      font-size: rem-calc(16);
      color: #ffc000;
    }

    /* margins */
    .margin-top-5 { margin-top: rem-calc(5) !important; }
    .margin-top-10 { margin-top: rem-calc(10) !important; }
    .margin-top-20 { margin-top: rem-calc(20) !important; }
    .margin-top-40 { margin-top: rem-calc(40) !important; }
    .margin-bottom-10 { margin-bottom: rem-calc(10) !important; }
    .margin-bottom-20 { margin-bottom: rem-calc(20) !important; }
    .margin-bottom-40 { margin-bottom: rem-calc(40) !important; }
    .margin-left-5  {margin-left: rem-calc(5) !important; 
            @include breakpoint(small only){
                margin-left:rem-calc(0) !important;
            }
    }
    .margin-left-10 { margin-left: rem-calc(10) !important; }
    .margin-left-20 { margin-left: rem-calc(20) !important; }
    .margin-left-40 { margin-left: rem-calc(40) !important; }
    .margin-right-20 { margin-right: rem-calc(20) !important; }
    .margin-right-40 { margin-right: rem-calc(40) !important; }
    .margin-left-80 {margin-left:rem-calc(80) !important}

    .no-margin-top { margin-top: rem-calc(0) !important; }
    .no-margin-right { margin-right: rem-calc(0) !important; }
    .no-margin-left { margin-left: rem-calc(0) !important; }
    .no-margin-bottom { margin-bottom: rem-calc(0) !important; }

    .padding-top-10 { padding-top: rem-calc(10) !important; }
    .padding-top-20 { padding-top: rem-calc(20) !important; }
    .padding-top-40 { padding-top: rem-calc(40) !important; }
    .padding-bottom-10 { padding-bottom: rem-calc(10) !important; }
    .padding-bottom-20 { padding-bottom: rem-calc(20) !important; }
    .padding-bottom-40 { padding-bottom: rem-calc(40) !important; }
    .padding-left-20 { padding-left: rem-calc(20) !important; }
    .padding-left-40 { padding-left: rem-calc(40) !important; }
    .padding-right-20 { padding-right: rem-calc(20) !important; }
    .padding-right-40 { padding-right: rem-calc(40) !important; }
    .padding-left-0 { padding-left: rem-calc(0) !important; }

    //hidden elements. 
    .small-hidden {
        @include breakpoint(small only){
            display:none;
        }
    }

    /* colores */
    .orange { color: $orange-light !important; }
    .blue { color: $blue !important; }

    .bold { font-weight: 600 !important; }

    .bg-grey { background-color: #EDEDED !important; }
    .bg-red { background-color: #a12410 !important; }
    .bg-blue { background-color: #4D7EBC !important; }
    .bg-blue-light { background-color: #00bdea !important; }
    .bg-white { background-color: #FFF !important; }
    .bg-yellow { background-color: #ffc000 !important; }
    .bg-green { background-color: #00ceab !important; }
    // .bg-orange { background-color: $orange-light; }

    //alignment
    .align-right { float:right !important; }
    .align-left { float:left !important; }



}


